<h2 class="title">Company Departments</h2>

<P>Simple Formate of displaying the Array</P>
<h4>{{hrDept}}</h4>

<div class="row">
  <h4 class="col-md-6">HR Deprtments</h4>
  <ul *ngFor="let emp of hrDept">
    <li>{{emp}}</li>
  </ul>

  <h4 class="col-md-6">HR Deprtments with Index</h4>
  <ul *ngFor="let emp of hrDept; let i = index">
    <li>{{i + 1}} {{emp}}</li>
  </ul>
</div>

<div class="row">
  <h4 class="col-md-6">Employee Name</h4>
  <ul *ngFor="let person of empName">
    <li>{{person.firstname}} {{person.lastname}}</li>
  </ul>
</div>
